<main>
  <!-- ==== HERO section ==== -->
  <section class="categories-hero">
    <img src="{{{category.background}}}" class="categories-hero__background" />
    <div class="categories-hero__content">
      <h1 class="categories-hero__title show-on-scroll">{{{category.name}}}</h1>
    </div>
  </section>

  <!-- ==== GOODS section ==== -->
  <section class="goods">
    <div class="show-on-scroll">
      <h2 id="title">Широкий асортимент товарів власного виробництва</h2>
      <div class="goods__divider">
        <img src="./img/logo-brown.svg" alt="Logo" />
      </div>
    </div>
    <div class="goods__container">
      {% for product in products %}
      <div class="goods__sofa" data-product="{{{product.id}}}">
        <div class="goods__image">
          <a href="/p/{{{product.id}}}">
            <img src="{{{product.thumb}}}" alt="Sofa" />
          </a>
        </div>
        <div class="goods__content">
          <h2 class="goods__title">
            <a href="/p/{{{product.id}}}"> {{{product.name}}} </a>
          </h2>
          <p class="goods__price">
            {% if product.materials.length %}від{% endif %} {{{product.price}}}
            UAH
          </p>
          <a
            class="goods__btn"
            onclick="addToCart('{{{product.id}}}', this);"
            href="/cart"
          >
            {% if !inCart(product.id) %} Купити {% endif %} {% if
            inCart(product.id) %} В кошику {% endif %}
          </a>
          <a onclick="addToWish('{{{product.id}}}', this, event)">
            <svg
              width="25px"
              height="25px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_iconCarrier">
                <path
                  id="background"
                  {%
                  if
                  inWish(product.id)
                  %}
                  fill="#ac4a4a"
                  {%
                  endif
                  %}
                  {%
                  if
                  !inWish(product.id)
                  %}
                  fill="#none"
                  {%
                  endif
                  %}
                  d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z"
                />
                <path
                  id="outline"
                  stroke="#ac4a4a"
                  d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </svg>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <script src="./pages/category/category.js" type="text/javascript"></script>
</main>
